<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy">
 
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />

    <title><%= siteName %> | <%= pageTitle %></title>   

    
    <% if(locals.login) {%>
      <link rel="stylesheet" href="/css/login.css" />
    <%} else {%>
      <link rel="stylesheet" href="/css/style.css" />    
    <%}%>

  </head>

  <body>
    <%- include(`../pages/${template}`) %> 
    <%- include(`./partials/scripts`) %>
  </body>
</html>
