<div class="container text-center">  
  <main class="form-signin">
    <div class="login-status">     
    </div>
    <div>
      <h3>Task Sheet</h3>
      <img class="mb-4" src="/images/bootstrap-logo.svg" alt="" width="72" height="57">
    </div>    
    <form id="login-form">            
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="login-form-name" placeholder="Enter your Email ID">
        <label for="login-form-name">Email ID</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="login-form-password" placeholder="Password">
        <label for="login-form-password">Password</label>
      </div>
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" id="login-form-rememberme" value="remember-me"> Remember me
        </label>
      </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main> 
</div>
  